body{
    background: #f5f5f5;
}
#app{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1920px;
    height: 800px;
}
#app .container{
    width: 1200px;
    height: 460px;
    margin: 100px auto 0;
    background: #fff;
}
#app .container div{
    float: left;
}
#app .container .miniImg_container{
    width: 84px;
    height: 100%;
    position: relative;
    display: inline-block;
}
#app .container .miniImg_container ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}
#app .container .miniImg_container ul li{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    margin-bottom: 10px;
    left: -40px;
    position: relative;
}
#app .container .miniImg_container ul li:hover{
    cursor: pointer;
}
#app .container .miniImg_container ul li img{
    width: 100%;
    height: 100%;
}
.active{
    border: 2px solid red !important;
}
#app .container .img_container{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 460px;
    height: 100%;
}
#app .container .img_container img{
    width: 100%;
    height: 100%;
}
#app .container .img_container .magnify{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    cursor: move;
    background-color: #fff;
    opacity: .3;
    display: none;
}
#app .container .magnifyImg_container{
    width: 460px;
    height: 460px;
    overflow: hidden;
    margin-left: 20px;
    position: relative;
    border: 2px solid black;
    display: none;
}
#app .container .magnifyImg_container img{
    width: 920px;
    height: 920px;
    position: absolute;
    top: 0;
    left: 0;
}